body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85vw;
  min-height: 2vh;
  max-width: 1024px;
  margin: 0px auto;
  background: #bdada0;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

nav  a{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  color: #52331a;
}
nav a:hover{
  border-bottom: 2px solid #52331a;
  margin-bottom: -2px;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 5px auto;
  background: #bdada0;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

.center{
  display: flex;
}
form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 30%;
  align-self: center;
}

form input{
  height: 6.2vh;
  font-size: 1.2;
 
}
form input[type="text"] {
 
  margin-left: 2rem;
 }

input::placeholder{

  font-size: 1.2rem;;
 color: #52331a;
 margin-left: 3rem;
 
}



label{
  font-weight: 800;
  font-size: 1.2rem;;
}

label.span{
  font-size: 1.2rem;;

}
.character-list{
  display: flex;
  flex-direction: column;
}
.pagination-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  max-width: 30%;
  height: 10vh;
  margin: 0 auto;
  background-color: #52331a;
  color: #bdada0;
  font-size: 1.4rem;


}